a {
  text-decoration: none;
  color: inherit;
}

footer {
  display: flex;
}

.footer-brand {
  padding: 8px 0;
  margin: 0 16px;
  align-items: inherit;
  display: flex;
  flex-flow: column;
}

.footer-paper {
  display: flex;
  flex: 1 1 auto;
}

.footer-social-media {
  padding: 8px 0;
}

.footer-social-media .fa {
  color: inherit !important;
}

.footer-social-media > a {
  margin: 0 16px;
}


.footer-page-navigation {
  display: flex;
  flex-flow: row nowrap;
  text-align: inherit;
}

.active-nav {
  border-bottom: 2px solid !important;
}

.Footer-text {
  display: flex;
  flex-flow: column;
  flex: 1 1 auto;
  padding: 16px 0
}
