body {
  margin: 0;
}
main {
  min-height: 85vh;
}
h1, h2, h3, p {
  margin: 0;
}
.page {
  min-height: 85vh;
  max-width: 1044px;
  margin: 0 auto;
  padding: 40px 0
}
.section {
  position: relative;
}

.form {
  margin: 16px;
}

.card {
  margin: 16px;
}


.background-image {
  background-repeat:  no-repeat !important;
  background-size:  cover !important;
}

.not-found-page {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: 85vh;
}




@media (max-width: 375px) {
  .largerThanIphone375 {
    display: none !important;
  }
}
@media (max-width: 667px) {
  .largerThanIphone667 {
    display: none !important;
  }
}
@media (max-width: 768px) {
  .largerThanIpad768 {
    display: none !important;
  }
}
@media (max-width: 1024px) {
  .largerThanIpad1024 {
    display: none !important;
  }
}
@media (max-width: 1366px) {
  .largerThanIpad1366 {
    display: none !important;
  }
}
@media (max-width: 1920px) {
  .largerThan1920 {
    display: none !important;
  }
}









/* Fields */
.field-container {
  display: flex;
  flex-flow: row wrap;
  padding: 16px
}
.field {
  flex: 1 1 auto;
  margin: 0 8px;
}
.checkbox-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: 16px
}
.checkbox {
  width: auto !important;
  margin: 0 8px;
}
.date {
  display: flex;
  align-items: flex-end;
}








/* Buttons */
.button-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
}
.button {
  flex: 1 1 auto;
  margin: 8px;
}
.delete-button > button {
  background-color: rgba(213, 0, 0, 1) !important;
  color: #ffffff !important;
}
.delete-button * {
  color: #ffffff !important;
}
.delete-button > button:hover  {
  background-color: rgba(213, 0, 0, 0.5) !important;
}









.error {
  font-weight: bold;
  color: rgb(244, 67, 54);
  margin: 8px 16px;
}
