.appbar-search-icon {
  font-size: 20px !important;
  vertical-align: bottom !important;
  font-weight: 600 !important;
}

.drawer-search-icon {
  font-size: 20px !important;
  vertical-align: middle !important;
}

.appbar-search-icon-button {
  padding: 12px 0 !important;
  width: auto !important;
  margin: 0 0 0 16px !important;
}
